<?xml version="1.0"?>
<config>
    <modules>
        <Illusion_NewsletterPopup>
            <version>1.0.0</version>
        </Illusion_NewsletterPopup>
    </modules>
    <global>
        <models>
            <illusion_newsletterpopup>
                <class>Illusion_NewsletterPopup_Model</class>
                <resourceModel>illusion_newsletterpopup_resource</resourceModel>
            </illusion_newsletterpopup>
            <illusion_newsletterpopup_resource>
                <class>Illusion_NewsletterPopup_Model_Resource</class>
            </illusion_newsletterpopup_resource>
        </models>
        <blocks>
            <illusion_newsletterpopup>
                <class>Illusion_NewsletterPopup_Block</class>
            </illusion_newsletterpopup>
        </blocks>
        <helpers>
            <illusion_newsletterpopup>
                <class>Illusion_NewsletterPopup_Helper</class>
            </illusion_newsletterpopup>
        </helpers>
    </global>
    <default>
        <newsletterpopup>
            <config>
                <background_color>#000</background_color>
                <background_opacity>0.5</background_opacity>
                <loading_image>loader2.gif</loading_image>
            </config>
            <general>
                <isactive>1</isactive>
                <cookielifetime>999</cookielifetime>
                <cookiename>newsletter_popup</cookiename>
                <title><![CDATA[Subscribe Now and <span>Get -20%</span> on Any Product!]]></title>
                <message>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</message>
                <image>newsletter-popup-image.png</image>
            </general>
            <coupon>
                <isactive>1</isactive>
                <format>alphanum</format>
                <length>8</length>
                <prefix>ILL-</prefix>
                <suffix>-USSION</suffix>
                <dash>5</dash>
            </coupon>
        </newsletterpopup>
    </default>
    <frontend>
        <routers>
            <newsletter>
                <args>
                    <modules>
                        <illusion_newsletterpopup before="Mage_Newsletter">Illusion_NewsletterPopup</illusion_newsletterpopup>
                    </modules>
                </args>
            </newsletter>
        </routers>
        <layout>
            <updates>
                <illusion_newsletterpopup>
                    <file>illusion_newsletterpopup.xml</file>
                </illusion_newsletterpopup>
            </updates>
        </layout>
    </frontend>
</config>