<?xml version="1.0"?>
<config>
    <modules>
        <Illusion_NewProducts>
            <version>1.0.0</version>
        </Illusion_NewProducts>
    </modules>
    <global>
        <models>
            <illusion_newproducts>
                <class>Illusion_NewProducts_Model</class>
                <resourceModel>illusion_newproducts_resource</resourceModel>
            </illusion_newproducts>
            <illusion_newproducts_resource>
                <class>Illusion_NewProducts_Model_Resource</class>
            </illusion_newproducts_resource>
        </models>
        <blocks>
            <illusion_newproducts>
                <class>Illusion_NewProducts_Block</class>
            </illusion_newproducts>
        </blocks>
        <helpers>
            <illusion_newproducts>
                <class>Illusion_NewProducts_Helper</class>
            </illusion_newproducts>
        </helpers>
    </global>
    <default>
        <new_products>
            <settings>
                <enable>1</enable>
                <title><![CDATA[New]]></title>
                <auto_play>false</auto_play>
                <qty>12</qty>
                <single>false</single>
                <items_1column>4</items_1column>
                <items_2column>3</items_2column>
                <items_3column>2</items_3column>
            </settings>
        </new_products>
    </default>
</config>