<?xml version="1.0"?>
<config>
    <modules>
        <Illusion_Brands>
            <version>1.0.0</version>
        </Illusion_Brands>
    </modules>
    <global>
        <models>
            <illusion_brands>
                <class>Illusion_Brands_Model</class>
                <resourceModel>illusion_brands_resource</resourceModel>
            </illusion_brands>
            <illusion_brands_resource>
                <class>Illusion_Brands_Model_Resource</class>
            </illusion_brands_resource>
        </models>
        <blocks>
            <illusion_brands>
                <class>Illusion_Brands_Block</class>
            </illusion_brands>
        </blocks>
        <helpers>
            <illusion_brands>
                <class>Illusion_Brands_Helper</class>
            </illusion_brands>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <brands>
                    <file>illusion_brands.xml</file>
                </brands>
            </updates>
        </layout>
    </frontend>
    <default>
        <brands>
            <general>
                <enable>1</enable>
                <!--<homepage>1</homepage>-->
                <title>Our Brands</title>
                <description>Take a look at our brands</description>
                <items>6</items>
                <attr_id>manufacturer</attr_id>
                <image_extension>png</image_extension>
                <show_image>1</show_image>
                <show_image_fallback_to_text>1</show_image_fallback_to_text>
                <link_search_enabled>1</link_search_enabled>
                <page_base_path></page_base_path>
                <append_category_suffix>0</append_category_suffix>
                <url_key_separator>-</url_key_separator>
                <img_url_key_separator>-</img_url_key_separator>
            </general>
            <list>
                <all_brands>1</all_brands>
                <brands></brands>
                <assigned></assigned>
                <assigned_in_stock></assigned_in_stock>
            </list>
        </brands>
    </default>
</config>