<?xml version="1.0"?>
<config>
    <modules>
        <Illusion_AjaxLayeredNavigation>
            <version>1.0.0</version>
        </Illusion_AjaxLayeredNavigation>
    </modules>
    <global>
        <models>
            <illusion_ajaxlayerednavigation>
                <class>Illusion_AjaxLayeredNavigation_Model</class>
                <resourceModel>illusion_ajaxlayerednavigation_resource</resourceModel>
            </illusion_ajaxlayerednavigation>
            <illusion_ajaxlayerednavigation_resource>
                <class>Illusion_AjaxLayeredNavigation_Model_Resource</class>
            </illusion_ajaxlayerednavigation_resource>
            <catalog>
                <rewrite>
                    <layer>Illusion_AjaxLayeredNavigation_Model_Catalog_Layer</layer>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer>Illusion_AjaxLayeredNavigation_Model_Catalogsearch_Layer</layer>
                </rewrite>
            </catalogsearch>
        </models>
        <blocks>
            <illusion_ajaxlayerednavigation>
                <class>Illusion_AjaxLayeredNavigation_Block</class>
            </illusion_ajaxlayerednavigation>
            <catalog>
                <rewrite>
                    <layer_filter_price>Illusion_AjaxLayeredNavigation_Block_Catalog_Layer_Filter_Price</layer_filter_price>
                    <layer_filter_attribute>Illusion_AjaxLayeredNavigation_Block_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_decimal>Illusion_AjaxLayeredNavigation_Block_Catalog_Layer_Filter_Decimal</layer_filter_decimal>
                    <layer_filter_category>Illusion_AjaxLayeredNavigation_Block_Catalog_Layer_Filter_Category</layer_filter_category>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite >
                    <layer_filter_attribute>Illusion_AjaxLayeredNavigation_Block_Catalogsearch_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_decimal>Illusion_AjaxLayeredNavigation_Block_Catalogsearch_Layer_Filter_Decimal</layer_filter_decimal>
                </rewrite>
            </catalogsearch>
            <tag>
                <rewrite>
                    <popular>Illusion_AjaxLayeredNavigation_Block_Tag_Popular</popular>
                </rewrite>
            </tag>
        </blocks>
        <helpers>
            <illusion_ajaxlayerednavigation>
                <class>Illusion_AjaxLayeredNavigation_Helper</class>
            </illusion_ajaxlayerednavigation>
        </helpers>
    </global>
    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <illusion_ajaxlayerednavigation before="Mage_Catalog">Illusion_AjaxLayeredNavigation</illusion_ajaxlayerednavigation>
                    </modules>
                </args>
            </catalog>
            <catalogsearch>
                <args>
                    <modules>
                        <illusion_ajaxlayerednavigation before="Mage_CatalogSearch">Illusion_AjaxLayeredNavigation</illusion_ajaxlayerednavigation>
                    </modules>
                </args>
            </catalogsearch>
            <tag>
                <args>
                    <modules>
                        <illusion_ajaxlayerednavigation before="Mage_Tag">Illusion_AjaxLayeredNavigation</illusion_ajaxlayerednavigation>
                    </modules>
                </args>
            </tag>
        </routers>
        <layout>
            <updates>
                <illusion_ajaxlayerednavigation>
                    <file>illusion_ajaxlayerednavigation.xml</file>
                </illusion_ajaxlayerednavigation>
            </updates>
        </layout>
    </frontend>
    <default>
        <illusion_ajaxlayerednavigation>
            <config>
                <enabled>1</enabled>
                <toolbar>1</toolbar>
                <slider>1</slider>
                <tag>1</tag>
                <background_color>#fff</background_color>
                <background_opacity>0.8</background_opacity>
                <loading_image>loader2.gif</loading_image>
            </config>
        </illusion_ajaxlayerednavigation>
    </default>
</config>