<?xml version="1.0"?>
<config>
  <modules>
    <Beany_QuoteSidebar>
      <version>0.1.0</version>
    </Beany_QuoteSidebar>
  </modules>
  <global>
    <helpers>
      <quotesidebar>
        <class>Beany_QuoteSidebar_Helper</class>
      </quotesidebar>
    </helpers>
  </global>
  <frontend>
    <routers>
        <quotesidebar>
            <use>standard</use>
            <args>
                <module>Beany_QuoteSidebar</module>
                <frontName>quickquote</frontName>
            </args>
        </quotesidebar>
    </routers>  
  </frontend>
</config> 