<?xml version="1.0"?>
<config>
    <modules>
        <Illusion_Featuredproducts>
            <version>1.1.0</version>
        </Illusion_Featuredproducts>
    </modules>
    <global>
        <models>
            <illusion_featuredproducts>
                <class>Illusion_Featuredproducts_Model</class>
                <resourceModel>illusion_featuredproducts_resource</resourceModel>
            </illusion_featuredproducts>
            <illusion_featuredproducts_resource>
                <class>Illusion_Feaduredproducts_Model_Resource</class>
            </illusion_featuredproducts_resource>
        </models>
        <blocks>
            <illusion_featuredproducts>
                <class>Illusion_Featuredproducts_Block</class>
            </illusion_featuredproducts>
        </blocks>
        <helpers>
            <illusion_featuredproducts>
                <class>Illusion_Featuredproducts_Helper</class>
            </illusion_featuredproducts>
        </helpers>
        <resources>
            <illusion_featuredproducts_setup>
                <setup>
                    <module>Illusion_Featuredproducts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </illusion_featuredproducts_setup>
            <illusion_featuredproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </illusion_featuredproducts_write>
            <illusion_featuredproducts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </illusion_featuredproducts_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <illusion_featuredproducts>
                    <file>illusion_featuredproducts.xml</file>
                </illusion_featuredproducts>
            </updates>
        </layout>
    </frontend>
    <default>
        <featured_products>
            <settings>
                <enable>1</enable>
                <title><![CDATA[Featured]]></title>
                <auto_play>false</auto_play>
                <qty>12</qty>
                <single>false</single>
                <items_1column>4</items_1column>
                <items_2column>3</items_2column>
                <items_3column>2</items_3column>
            </settings>
        </featured_products>
    </default>
</config>