<?xml version="1.0"?>
<config>
    <modules>
        <Illusion_AjaxQuickView>
            <version>1.0.0</version>
        </Illusion_AjaxQuickView>
    </modules>
    <global>
        <models>
            <illusion_ajaxquickview>
                <class>Illusion_AjaxQuickView_Model</class>
                <resourceModel>illusion_ajaxquickview_resource</resourceModel>
            </illusion_ajaxquickview>
            <illusion_ajaxquickview_resource>
                <class>Illusion_AjaxQuickView_Model_Resource</class>
            </illusion_ajaxquickview_resource>
        </models>
        <blocks>
            <illusion_ajaxquickview>
                <class>Illusion_AjaxQuickView_Block</class>
            </illusion_ajaxquickview>
        </blocks>
        <helpers>
            <illusion_ajaxquickview>
                <class>Illusion_AjaxQuickView_Helper</class>
            </illusion_ajaxquickview>
        </helpers>
    </global>
    <frontend>
        <routers>
            <illusion_ajaxquickview>
                <use>standard</use>
                <args>
                    <module>Illusion_AjaxQuickView</module>
                    <frontName>ajaxquickview</frontName>
                </args>
            </illusion_ajaxquickview>
        </routers>
        <layout>
            <updates>
                <illusion_ajaxquickview>
                    <file>illusion_ajaxquickview.xml</file>
                </illusion_ajaxquickview>
            </updates>
        </layout>
    </frontend>
</config>