<?xml version="1.0"?>
<config>
    <modules>
        <Illusion_AdBanner>
            <version>1.0.0</version>
        </Illusion_AdBanner>
    </modules>
    <global>
        <models>
            <illusion_adbanner>
                <class>Illusion_AdBanner_Model</class>
                <resourceModel>illusion_adbanner_resource</resourceModel>
            </illusion_adbanner>
            <illusion_adbanner_resource>
                <class>Illusion_AdBanner_Model_Resource</class>
                <entities>
                    <adbanner>
                        <table>illusion_adbanner</table>
                    </adbanner>
                </entities>
            </illusion_adbanner_resource>
        </models>
        <resources>
            <illusion_adbanner_setup>
                <setup>
                    <module>Illusion_AdBanner</module>
                </setup>
            </illusion_adbanner_setup>
        </resources>
        <blocks>
            <illusion_adbanner>
                <class>Illusion_AdBanner_Block</class>
            </illusion_adbanner>
        </blocks>
        <helpers>
            <illusion_adbanner>
                <class>Illusion_AdBanner_Helper</class>
            </illusion_adbanner>
        </helpers>
    </global>
    <admin>
        <routers>
            <illusion_adbanner>
                <use>admin</use>
                <args>
                    <module>Illusion_AdBanner</module>
                    <frontName>adbanner</frontName>
                </args>
            </illusion_adbanner>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <illusion_adbanner>
                    <file>illusion_adbanner.xml</file>
                </illusion_adbanner>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <illusion_adbanner>
                <use>standard</use>
                <args>
                    <module>Illusion_AdBanner</module>
                    <frontName>adbanner</frontName>
                </args>
            </illusion_adbanner>
        </routers>
        <layout>
            <updates>
                <illusion_adbanner>
                    <file>illusion_adbanner.xml</file>
                </illusion_adbanner>
            </updates>
        </layout>
    </frontend>
    <default>
        <adbanner>
            <adbanneradvancedsettings>
                <enable>1</enable>
                <adbannerdisplaylabelenabled>1</adbannerdisplaylabelenabled>
                <adbannerimgwidth>100</adbannerimgwidth>
                <adbannerimgheight>100</adbannerimgheight>
                <adbannerdisplayrandomlyenabled>1</adbannerdisplayrandomlyenabled>
                <adbannerid></adbannerid>
            </adbanneradvancedsettings>
            <adancedadbannerblocksettings>
                <adbannerdisplayleftblockenabled>1</adbannerdisplayleftblockenabled>
                <adbannerdisplayrightblockenabled>1</adbannerdisplayrightblockenabled>
                <adbannerdisplaycontentblockenabled>0</adbannerdisplaycontentblockenabled>
            </adancedadbannerblocksettings>
        </adbanner>
    </default>
</config>