<?xml version="1.0"?>
<config>
    <modules>
        <Illusion_Settings>
            <version>1.0.0</version>
        </Illusion_Settings>
    </modules>
    <global>
        <models>
            <illusion_settings>
                <class>Illusion_Settings_Model</class>
                <resourceModel>illusion_settings_resource</resourceModel>
            </illusion_settings>
            <illusion_settings_resource>
                <class>Illusion_Settings_Model_Resource</class>
            </illusion_settings_resource>
            <catalog>
                <rewrite>
                    <category>Illusion_Settings_Model_Catalog_Category</category>
                </rewrite>
            </catalog>
        </models>
        <blocks>
            <illusion_settings>
                <class>Illusion_Settings_Block</class>
            </illusion_settings>
            <core>
                <rewrite>
                    <messages>Illusion_Settings_Block_Core_Messages</messages>
                    <html_select>Illusion_Settings_Block_Core_Html_Select</html_select>
                </rewrite>
            </core>
            <catalog>
                <rewrite>
                    <product_view_options_type_select>Illusion_Settings_Block_Catalog_Product_View_Options_Type_Select</product_view_options_type_select>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <illusion_settings>
                <class>Illusion_Settings_Helper</class>
            </illusion_settings>
        </helpers>
        <page>
            <layouts>
                <home translate="label">
                    <label>Illusion Home Page</label>
                    <template>page/home.phtml</template>
                    <layout_handle>home_page</layout_handle>
                </home>
                <noroute translate="label">
                    <label>Illusion NoRoute Page</label>
                    <template>page/noroute.phtml</template>
                    <layout_handle>noroute_page</layout_handle>
                </noroute>
            </layouts>
        </page>
    </global>
    <default>
        <upsell>
            <settings>
                <enable>1</enable>
                <title><![CDATA[UpSell Products]]></title>
                <auto_play>true</auto_play>
                <single>false</single>
                <items_1column>4</items_1column>
                <items_2column>3</items_2column>
                <items_3column>2</items_3column>
            </settings>
        </upsell>
        <crosssell>
            <settings>
                <enable>1</enable>
                <title><![CDATA[CrossSell Products]]></title>
                <auto_play>true</auto_play>
                <single>false</single>
                <items_1column>4</items_1column>
                <items_2column>3</items_2column>
                <items_3column>2</items_3column>
            </settings>
        </crosssell>
        <illusion_settings>
            <layout>
                <layout_type>wide_layout</layout_type>
                <layout_background_color>#2c2b44</layout_background_color>
                <layout_background_image></layout_background_image>
                <layout_background_image_mode>stretch</layout_background_image_mode>
                <layout_background_image_position>left</layout_background_image_position>
                <horizontal_line_color_start>#70269f</horizontal_line_color_start>
                <horizontal_line_color_end>#35eef6</horizontal_line_color_end>
                <preloader_color>#35eef6</preloader_color>
                <animations_enable>1</animations_enable>
            </layout>
            <header>
                <header_type>header_1</header_type>
                <header_background_color>#fff</header_background_color>
                <header_top_text_color>#bdc3c7</header_top_text_color>
                <header_links_color>#bdc3c7</header_links_color>
                <header_links_color_hover>#41bedd</header_links_color_hover>
                <header_search_icon_color>#d1d5d8</header_search_icon_color>
                <header_search_icon_color_hover>#4e4ca0</header_search_icon_color_hover>
                <header_search_icon_border_color>#d1d5d8</header_search_icon_border_color>
                <header_search_icon_border_color_hover>#4e4ca0</header_search_icon_border_color_hover>
                <header_login_icon_color>#d1d5d8</header_login_icon_color>
                <header_login_icon_color_hover>#41bedd</header_login_icon_color_hover>
                <header_login_icon_border_color>#d1d5d8</header_login_icon_border_color>
                <header_login_icon_border_color_hover>#41bedd</header_login_icon_border_color_hover>
                <header_login_popup_header_color>#41bedd</header_login_popup_header_color>
                <header_cart_icon_color>#d1d5d8</header_cart_icon_color>
                <header_cart_icon_color_hover>#a255c4</header_cart_icon_color_hover>
                <header_cart_icon_border_color>#d1d5d8</header_cart_icon_border_color>
                <header_cart_icon_border_color_hover>#a255c4</header_cart_icon_border_color_hover>
                <header_cart_popup_header_color>#a255c4</header_cart_popup_header_color>
            </header>
            <fonts>
                <primary_font_family>google</primary_font_family>
                <primary_google_font>Lato</primary_google_font>
                <primary_custom_font>sans-serif</primary_custom_font>
                <primary_font_size>16px</primary_font_size>
                <primary_font_color>#606366</primary_font_color>
                <primary_font_weights>100,300,400,700,900,100italic,300italic,400italic</primary_font_weights>
                <default_font_weight>400</default_font_weight>
            </fonts>
            <menu>
                <menu_type>sticky_menu</menu_type>
                <menu_home>1</menu_home>
                <menu_text_color>#34383d</menu_text_color>
                <menu_text_color_hover>#41bedd</menu_text_color_hover>
                <menu_background_color>transparent</menu_background_color>
                <menu_background_color_hover>transparent</menu_background_color_hover>
                <submenu_background_color>#ffffff</submenu_background_color>
                <submenu_background_color_hover>#f7f9f9</submenu_background_color_hover>
                <submenu_text_color>#34383d</submenu_text_color>
                <submenu_text_color_hover>#41bedd</submenu_text_color_hover>
                <side_menu_background_color>#34383d</side_menu_background_color>
                <side_menu_text_color>#ffffff</side_menu_text_color>
                <side_menu_text_color_hover>#55c0db</side_menu_text_color_hover>
            </menu>
            <footer>
                <footer_type>footer_1</footer_type>
                <footer_contact_icons>#a255c4</footer_contact_icons>
                <footer_contact_links>#34383d</footer_contact_links>
                <footer_contact_links_hover>#a255c4</footer_contact_links_hover>
            </footer>
            <slider>
                <slider_enable>1</slider_enable>
                <slider_type>revolution</slider_type>
                <slider_height>500px</slider_height>
            </slider>
            <social>
                <social_links_color>#bdc3c7</social_links_color>
                <social_skype>skype.name</social_skype>
                <social_facebook>http://facebook.com/</social_facebook>
                <social_facebook_user>envato</social_facebook_user>
                <social_twitter>http://twitter.com/</social_twitter>
                <social_twitter_user>fanfbmltemplate</social_twitter_user>
                <social_gplus>http://plus.google.com</social_gplus>
                <social_pinterest>http://pinterest.com</social_pinterest>
                <social_dribble>http://dribble.com/</social_dribble>
                <social_flickr>http://flickr.com/</social_flickr>
                <social_flickr_photo_stream>76745153@N04</social_flickr_photo_stream>
                <social_youtube>http://youtube.com/</social_youtube>
                <social_vimeo>http://vimeo.com/</social_vimeo>
                <social_instagram>http://instagram.com</social_instagram>
                <social_linkedin>http://linkedin.com/</social_linkedin>
            </social>
            <product_box_settings>
                <rating>1</rating>
                <category>1</category>
                <price>1</price>
                <wishlist>1</wishlist>
                <compare>1</compare>
            </product_box_settings>
            <price_settings>
                <product_details_color>#a255c4</product_details_color>
                <product_listing_color>#34383d</product_listing_color>
                <product_onsale_color>#a255c4</product_onsale_color>
            </price_settings>
            <add_to_cart>
                <product_details_addtocart_background_color>#a255c4</product_details_addtocart_background_color>
                <product_details_addtocart_background_color_hover>#fff</product_details_addtocart_background_color_hover>
                <product_details_addtocart_text_color>#fff</product_details_addtocart_text_color>
                <product_details_addtocart_text_color_hover>#a255c4</product_details_addtocart_text_color_hover>
                <product_listing_addtocart_background_color>#fff</product_listing_addtocart_background_color>
                <product_listing_addtocart_background_color_hover>#a255c4</product_listing_addtocart_background_color_hover>
                <product_listing_addtocart_text_color>#a255c4</product_listing_addtocart_text_color>
                <product_listing_addtocart_text_color_hover>#fff</product_listing_addtocart_text_color_hover>
            </add_to_cart>
            <add_to_wishlist>
                <color>#34383d</color>
                <border_color>#bdc3c7</border_color>
                <background_color>transparent</background_color>
                <color_hover>#4e4ca0</color_hover>
                <border_color_hover>#4e4ca0</border_color_hover>
                <background_color_hover>transparent</background_color_hover>
                <tooltip_color>#606366</tooltip_color>
                <tooltip_background_color>#e6f7fb</tooltip_background_color>
            </add_to_wishlist>
            <add_to_compare>
                <color>#34383d</color>
                <border_color>#bdc3c7</border_color>
                <background_color>transparent</background_color>
                <color_hover>#55c0db</color_hover>
                <border_color_hover>#55c0db</border_color_hover>
                <background_color_hover>transparent</background_color_hover>
                <tooltip_color>#606366</tooltip_color>
                <tooltip_background_color>#e6f7fb</tooltip_background_color>
            </add_to_compare>
            <buttons>
                <purple_button_color>#4e4ca0</purple_button_color>
                <purple_button_background_border_color>#4e4ca0</purple_button_background_border_color>
                <purple_button_color_hover>#fff</purple_button_color_hover>
                <purple_button_background_border_color_hover>#4e4ca0</purple_button_background_border_color_hover>
                <pink_button_color>#a255c4</pink_button_color>
                <pink_button_background_border_color>#a255c4</pink_button_background_border_color>
                <pink_button_color_hover>#fff</pink_button_color_hover>
                <pink_button_background_border_color_hover>#a255c4</pink_button_background_border_color_hover>
                <blue_button_color>#55c0db</blue_button_color>
                <blue_button_background_border_color>#55c0db</blue_button_background_border_color>
                <blue_button_color_hover>#fff</blue_button_color_hover>
                <blue_button_background_border_color_hover>#55c0db</blue_button_background_border_color_hover>
                <dark_button_color>#34383d</dark_button_color>
                <dark_button_background_border_color>#bdc3c7</dark_button_background_border_color>
                <dark_button_color_hover>#a255c4</dark_button_color_hover>
                <dark_button_background_border_color_hover>#a255c4</dark_button_background_border_color_hover>
            </buttons>
            <tabs>
                <tabs_text_color>#34383d</tabs_text_color>
                <tabs_background_color>#ffffff</tabs_background_color>
                <tabs_text_color_active>#ffffff</tabs_text_color_active>
                <tabs_background_color_active>#41bedd</tabs_background_color_active>
            </tabs>
            <pagination>
                <pagination_color>#34383d</pagination_color>
                <pagination_background_color>#ffffff</pagination_background_color>
                <pagination_color_active>#ffffff</pagination_color_active>
                <pagination_background_color_active>#4e4ca0</pagination_background_color_active>
            </pagination>
            <product_status>
                <sale_background_color>#f6eef9</sale_background_color>
                <sale_text_color>#a255c4</sale_text_color>
                <new_background_color>#e6f7fb</new_background_color>
                <new_text_color>#41bedd</new_text_color>
                <sold_background_color>#FBD8DE</sold_background_color>
                <sold_text_color>#EB362D</sold_text_color>
            </product_status>
            <accent_color_one>
                <input_field_border_color>#e1e4e6</input_field_border_color>
                <input_placeholder_color>#899096</input_placeholder_color>
                <input_color>#899096</input_color>
                <icon_color_grey_light>#d2d6d9</icon_color_grey_light>
                <icon_color_grey_light_hover>#55c0db</icon_color_grey_light_hover>
                <icon_border_color_grey_light>#d2d6d9</icon_border_color_grey_light>
                <icon_border_color_grey_light_hover>#55c0db</icon_border_color_grey_light_hover>
                <back_top_color>#cbd0d4</back_top_color>
                <back_top_color_hover>#55c0db</back_top_color_hover>
                <back_top_border_color>#cbd0d4</back_top_border_color>
                <back_top_border_color_hover>#55c0db</back_top_border_color_hover>
            </accent_color_one>
            <tooltip>
                <tooltip_color>#606366</tooltip_color>
                <tooltip_background_color>#e6f7fb</tooltip_background_color>
            </tooltip>
            <breadcrumb>
                <enable>1</enable>
            </breadcrumb>
            <prevnext>
                <enable>1</enable>
                <prev_next_color>#cbd0d4</prev_next_color>
                <prev_next_color_hover>#55c0db</prev_next_color_hover>
                <prev_next_border_color>#cbd0d4</prev_next_border_color>
                <prev_next_border_color_hover>#55c0db</prev_next_border_color_hover>
            </prevnext>
        </illusion_settings>
    </default>
    <frontend>
        <routers>
            <newsletter>
                <args>
                    <modules>
                        <illusion_settings before="Mage_Newsletter">Illusion_Settings</illusion_settings>
                    </modules>
                </args>
            </newsletter>
            <contacts>
                <args>
                    <modules>
                        <illusion_settings before="Mage_Contacts">Illusion_Settings</illusion_settings>
                    </modules>
                </args>
            </contacts>
        </routers>
    </frontend>
</config>