<?xml version="1.0"?>
<config>
    <modules>
        <Illusion_BestsellerProducts>
            <version>1.0.0</version>
        </Illusion_BestsellerProducts>
    </modules>
    <global>
        <models>
            <illusion_bestsellerproducts>
                <class>Illusion_BestsellerProducts_Model</class>
                <resourceModel>illusion_bestsellerproducts_resource</resourceModel>
            </illusion_bestsellerproducts>
            <illusion_bestsellerproducts_resource>
                <class>Illusion_BestsellerProducts_Model_Resource</class>
            </illusion_bestsellerproducts_resource>
        </models>
        <blocks>
            <illusion_bestsellerproducts>
                <class>Illusion_BestsellerProducts_Block</class>
            </illusion_bestsellerproducts>
        </blocks>
        <helpers>
            <illusion_bestsellerproducts>
                <class>Illusion_BestsellerProducts_Helper</class>
            </illusion_bestsellerproducts>
        </helpers>
    </global>
    <default>
        <bestseller_products>
            <settings>
                <enable>1</enable>
                <title><![CDATA[Bestsellers]]></title>
                <auto_play>false</auto_play>
                <qty>12</qty>
                <single>false</single>
                <items_1column>4</items_1column>
                <items_2column>3</items_2column>
                <items_3column>2</items_3column>
            </settings>
        </bestseller_products>
    </default>
</config>