<?xml version="1.0"?>
<config>
    <modules>
        <Illusion_AjaxCartWishlistCompare>
            <version>1.0.0</version>
        </Illusion_AjaxCartWishlistCompare>
    </modules>
    <global>
        <models>
            <illusion_ajaxcartwishlistcompare>
                <class>Illusion_AjaxCartWishlistCompare_Model</class>
                <resourceModel>illusion_ajaxcartwishlistcompare_resource</resourceModel>
            </illusion_ajaxcartwishlistcompare>
            <illusion_ajaxcartwishlistcompare_resource>
                <class>Illusion_AjaxCartWishlistCompare_Model_Resource</class>
            </illusion_ajaxcartwishlistcompare_resource>
        </models>
        <blocks>
            <illusion_ajaxcartwishlistcompare>
                <class>Illusion_AjaxCartWishlistCompare_Block</class>
            </illusion_ajaxcartwishlistcompare>
        </blocks>
        <helpers>
            <illusion_ajaxcartwishlistcompare>
                <class>Illusion_AjaxCartWishlistCompare_Helper</class>
            </illusion_ajaxcartwishlistcompare>
        </helpers>
    </global>
    <frontend>
        <routers>
            <illusion_ajaxcartwishlistcompare>
                <use>standard</use>
                <args>
                    <module>Illusion_AjaxCartWishlistCompare</module>
                    <frontName>ajaxcartwishlistcompare</frontName>
                </args>
            </illusion_ajaxcartwishlistcompare>
            <checkout>
                <args>
                    <modules>
                        <Illusion_AjaxCartWishlistCompare before="Mage_Checkout">Illusion_AjaxCartWishlistCompare</Illusion_AjaxCartWishlistCompare>
                    </modules>
                </args>
            </checkout>
            <catalog>
                <args>
                    <modules>
                        <Illusion_AjaxCartWishlistCompare before="Mage_Checkout">Illusion_AjaxCartWishlistCompare</Illusion_AjaxCartWishlistCompare>
                    </modules>
                </args>
            </catalog>
            <wishlist>
                <args>
                    <modules>
                        <illusion_ajaxcartwishlistcompare before="Mage_Wishlist">Illusion_AjaxCartWishlistCompare_Wishlist</illusion_ajaxcartwishlistcompare>
                    </modules>
                </args>
            </wishlist>
        </routers>
        <layout>
            <updates>
                <illusion_ajaxcartwishlistcompare>
                    <file>illusion_ajaxcartwishlistcompare.xml</file>
                </illusion_ajaxcartwishlistcompare>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <illusion_ajaxcartwishlistcompare>
                <use>admin</use>
                <args>
                    <module>Illusion_AjaxCartWishlistCompare</module>
                    <frontName>ajaxcartwishlistcompare</frontName>
                </args>
            </illusion_ajaxcartwishlistcompare>
        </routers>
    </admin>
    <default>
        <illusion_ajaxcartwishlistcompare>
            <config>
                <enabled>1</enabled>
                <show_confirm>1</show_confirm>
                <background_color>#000</background_color>
                <background_opacity>0.5</background_opacity>
                <loading_image>loader2.gif</loading_image>
            </config>
        </illusion_ajaxcartwishlistcompare>
    </default>
</config>