<?xml version="1.0"?>
<config>
    <modules>
        <Illusion_SaleProducts>
            <version>1.0.0</version>
        </Illusion_SaleProducts>
    </modules>
    <global>
        <models>
            <illusion_saleproducts>
                <class>Illusion_SaleProducts_Model</class>
                <resourceModel>illusion_saleproducts_resource</resourceModel>
            </illusion_saleproducts>
            <illusion_saleproducts_resource>
                <class>Illusion_SaleProducts_Model_Resource</class>
            </illusion_saleproducts_resource>
        </models>
        <blocks>
            <illusion_saleproducts>
                <class>Illusion_SaleProducts_Block</class>
            </illusion_saleproducts>
        </blocks>
        <helpers>
            <illusion_saleproducts>
                <class>Illusion_SaleProducts_Helper</class>
            </illusion_saleproducts>
        </helpers>
    </global>
    <default>
        <sale_products>
            <settings>
                <enable>1</enable>
                <title><![CDATA[Sale]]></title>
                <auto_play>false</auto_play>
                <qty>12</qty>
                <single>false</single>
                <items_1column>4</items_1column>
                <items_2column>3</items_2column>
                <items_3column>2</items_3column>
            </settings>
        </sale_products>
    </default>
</config>